[data-menu="button"] {
    display: none;
}

@media (max-width: 700px) {
    [data-menu="button"] {
        display: flex;
        background: #222;
        border: none;
        padding: .5rem 1rem;
        border-radius: 4px;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #fff;
        cursor: pointer;
        margin: 10px;
        align-items: center;
        position: relative;
        z-index: 300;
    }

    [data-menu="button"]::before {
        content: '';
        display: inline-block;
        height: 2px;
        width: 12px;
        margin-right: 4px;
        background: #fff;
        box-shadow: 0 4px #fff, 0 -4px #fff;
        /*para gerar a animação das 3 linhas*/
        transition: transform .3s;
    }

    [data-menu="button"].active::before {
        /*para girar as 3 linhas do menu hamburguer*/
        transform: rotate(90deg);
    }

    [data-menu="list"] {
        display: none !important;
        position: absolute;
        background: #FB5;
        width: 130px;
        z-index: 200;
        top: 0;
        padding: 60px 0 20px 0;
        box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .2);

    }

    [data-menu="list"].active {
        display: block !important;
        animation: show-right .3s forwards;
    }

    .dropdown-menu {
        position: static;
        border: none;
    }
}