header, main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: blueviolet;
}

header > p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: #fff;
}

button {
    width: 80px;
}