
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    text-align: center;
    font-size: 18px;
    font-family: 'DynaPuff';
    
    
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 15px; 
}

nav {
    display: flex;
    justify-content: space-around;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #EB8344;
    height: 8vh;
   
}

.nav-list {
    list-style: none;
    display: flex;
    padding: 15px;
    
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    
}

footer {
    background: #EB8344;
    margin: auto;
}

footer p {
    color: black;
    font-size: 1.2rem;
}
body {
    scroll-snap-type: none;
    
}




.container-sobre {
    display: inline-block;
    justify-content: center;
    align-items: center;
    
}

.sobre {
    display: flex;
    width: 98%;
    min-width: 375px;
    min-height: 300px;
    background: #EB8344;
    padding: 20px;
    margin: auto;
    
    
    
}

.sobre p {
    text-align: center;
    margin-top: 30px auto;
    padding: 20px;
    line-height: 30px;
    transform: translate(0, 20%);
    


}

.container-sobre h1 {
    width: 25%;
    color: rgb(255, 253, 253);
    border: 2px rgb(10, 10, 10) solid;
    background: linear-gradient(to left, rgb(244, 92, 92),orange);
    border-radius: 5px;
    align-items: center;
    padding: 10px;
    margin: 20px auto;
}

.sobre img {
    padding: 10px;
}

.videos {
    width: 100%;
    background: #EB8344;
    margin: 515px auto 30px;
     
    
}

.videos video {
    width: 50%;
    margin: 30px auto 30px;
    background-color: black; 
    border-radius: 30px;
    padding: 20px;
    margin: auto;
}

.videos h1 {
    color: rgb(255, 253, 253);
    border: 2px rgb(10, 10, 10) solid;
    background: linear-gradient(to left, rgb(244, 92, 92),orange);
    border-radius: 5px;
    align-items: center;
    padding: 5px;
    margin: 20px auto;
    width: 27%;
}
/*icone whatsapp*/
.icon {
    position: fixed;
    bottom: 65px;
    left: 30px;
    background-color: #01e675;
    color: #fff;
    border-radius: 50%;
    padding: 17px;
    width: 54px;
    height: 53px;
    text-align: center;
    text-decoration: none;
    z-index: 100;
    box-shadow: 3px 3px 3px grey;
}

.icon:hover {
    background-color: #fff;
    color: #01e675;
}
/*foto com rolagem*/
.slider {
    width: 50%;
    height: 500px;
    overflow: hidden;
    position: absolute;
    border-radius: 10px;
    left: 25%;
    
    
}

.slider h1 {
    color: rgb(255, 253, 253);
    border: 2px rgb(10, 10, 10) solid;
    background: linear-gradient(to left, rgb(244, 92, 92),orange);
    border-radius: 5px;
    align-items: center;
    padding: 5px;
    margin: 20px auto;
    width: 50%;
}


.navigation-auto {
    position: absolute;
    bottom: 20px;
    display: flex;
    left: 50%;
    transform: translate(-50%);
}

.navigation-auto div {
    border: 2px solid #fff;

    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

.navigation-bar {
    position: absolute;
    bottom: 20px;

    display: flex;
    left: 50%;
    transform: translate(-50%);
}

input {
    display: none;
}

.manual-btn {
    border: 2px solid #fff;

    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #fff;
    transition: 0.4s;
}

.slides {
    display: flex;
    width: 400%;
    height: 100%;
    
}

.slide {
    width: 25%;
    transition: 0.5s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #fff;
}



@media (max-width:999px) {
    .slider {
        width: 100%;
    }

    .sobre p {
        background-color: #fff;
        color: black;
        margin-left: 10px;
        border-radius: 10px 5px;
        transform: none;
    }
    .container-sobre {
        display: block;
        height: 30%;
        text-align: center;
        margin: auto;
        
        
        
          
    }
    .sobre {
        width: 100%;
        display: block;
        margin: 0 auto;
       

        
    }
    .sobre p {
        margin: 10px auto;
    }

    .sobre img {
        border-radius: 50%;
        border: solid 2px rgb(255, 252, 252);
    }

    .texto {
        margin: 20px 10px 100px 0;
        
        
    }

    .slider {
        left: 0;
       
    }
    .videos {
        width: 100vw;
       margin: 600px auto 50px;
       border-radius: 30px;
       
    }
    .videos video {
        width: 95%;
        
    }

    .logo {
        font-size: 14px;
        position: absolute;
        
    }
    

    
}

/*menu hamburguer*/
@media (max-width:999px) {
    
    html,body {
        overflow-x: hidden;
    }
    


    .nav-list {
        position: relative;
        top: 0vh;
        right: 0;
        width: 100vw;
        height: 20vh;
        background: #EB8344;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        
        

    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
        border: solid 1px #fff;
        margin-bottom: 10px;
        padding: 1%;
        

    }

    .mobile-menu {
        display: block;
        margin-top: 10px;
        
    }

    .nav-list.active {
        transform: translateX(0);
        
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
      }
      
      .mobile-menu.active .line2 {
        opacity: 0;
      }
      
      .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
      }
}