@import url('https://fonts.googleapis.com/css2? family= DynaPuff & family= Silkscreen & display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header {
    display: flex;
    width: 100%;
    height: 100px;
    min-width: 375px;
    background-color: rgb(247, 144, 10);

}
.logo-texto {
    position: absolute;
    width: 50%;
    min-width: 1rem;
    right: 0.1rem;
    top: 1rem;
    font-family:'Times New Roman', Times, serif;
    color: #fff;
    font-size: 1rem;
}

header img {
    position: absolute;
    width: 100%;
    max-width: 5rem;
    left: 1.5rem;
    top: 0.5rem;
    
}

body {
    
    background: rgb(246, 232, 207);
    text-align: center;
    font-size: 18px;
    font-family: 'DynaPuff';
}

footer {
    background-color: rgb(247, 144, 10);
}

footer p {
    color: #fff;
    font-size: 1.2rem;
}

.container-flex {
    display: flex;
}

.container-flex img {
    width: 100%;
    min-width: 375px;
    height: 300px;
    border: 1px solid black;
    
}

.container-sobre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre {
    display: flex;
    width: 100%;
    min-width: 375px;
    min-height: 300px;
    background: rgb(240, 172, 46);
    padding: 20px;
    
}

.sobre p {
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    line-height: 30px;

}

.sobre h1 {
    display: flex;
    color: #fff;
    border: 2px #fff solid;
    border-radius: 5px;
    align-items: center;
    padding: 5px;
}

.container-produtos {
    width: 100%;
    min-width: 375px;
    min-height: 500px;
    
}


.container-produtos h1 {
    margin: 20px auto;
    
    border: 2px solid black;
    width: 50%;
}

.produtos {
    
}

.produtos p {
    color: #fff;
}

.produtos img {
    padding: 20px;
    display: inline-block;
    width: 50%;
    min-width: 200px;
    height: 375px;
}



