@import url('https://fonts.googleapis.com/css2? family= DynaPuff & family= Silkscreen & display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

header {
    width: 100vw;
    margin: auto;
    height: 100px;
    min-width: 375px;
    background-color: rgb(247, 144, 10);
    
}

nav {
    background-color: rgb(247, 144, 10)
}

nav a {
    text-decoration: none;
    float: right;
    padding: 10px;
    margin-right: 20px;
    color: rgb(11, 11, 11);

    
}

nav a:hover {
    background-color: #fff;
    color: rgb(247, 144, 10);
}

.logo {
    position: absolute;
    width: 5%;
    max-width: 1rem;
    left: 45%;
    top: 50%;
    border-radius: 10px;
    
}

.logo img {
    border-radius: 50%;
    
}

body {
    background-color: rgb(253, 252, 249);
    /*background: rgb(197, 191, 182);*/
    text-align: center;
    font-size: 18px;
    font-family: 'DynaPuff';
    margin: auto;
    overflow-x: hidden; 
    
}

footer {
    background-color: rgb(247, 144, 10);
    margin: auto;
}

footer p {
    color: black;
    font-size: 1.2rem;
}

svg {
    display: flex;
	width: 100%;
	height: 100px;
    
}

.container-flex {
    display: flex;
    width: 100%;
    min-width: 375px;
    height: 350px;
    margin: auto;
    
    
    
}

.container-flex img {
    width: 100%;
    
    
}

.container-sobre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre {
    display: flex;
    width: 100%;
    min-width: 375px;
    min-height: 300px;
    /*background: rgb(240, 172, 46);*/
    background-color:  rgb(247, 144, 10);
    padding: 20px;
    
    
}

.sobre p {
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    line-height: 30px;

}

.sobre h1 {
    display: flex;
    color: rgb(255, 253, 253);
    border: 2px rgb(10, 10, 10) solid;
    background: linear-gradient(to left, rgb(244, 92, 92),orange);
    border-radius: 5px;
    align-items: center;
    padding: 5px;
}

.videos {
    margin: 515px auto 30px; 
}

.videos video {
    width: 100%;
    margin: 30px auto 30px;
    background-color: black; 
}

.videos h1 {
    color: rgb(255, 253, 253);
    border: 2px rgb(10, 10, 10) solid;
    background: linear-gradient(to left, rgb(244, 92, 92),orange);
    border-radius: 5px;
    align-items: center;
    padding: 5px;
    margin: 20px auto;
    width: 50%;
}
/*foto com rolagem*/
.slider {
    width: 50%;
    height: 500px;
    overflow: hidden;
    position: absolute;
    border-radius: 10px;
    
}

.slider h1 {
    color: rgb(255, 253, 253);
    border: 2px rgb(10, 10, 10) solid;
    background: linear-gradient(to left, rgb(244, 92, 92),orange);
    border-radius: 5px;
    align-items: center;
    padding: 5px;
    margin: 20px auto;
    width: 50%;
}


.navigation-auto {
    position: absolute;
    bottom: 20px;

    display: flex;
    left: 50%;
    transform: translate(-50%);
}

.navigation-auto div {
    border: 2px solid #fff;

    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

.navigation-bar {
    position: absolute;
    bottom: 20px;

    display: flex;
    left: 50%;
    transform: translate(-50%);
}

input {
    display: none;
}

.manual-btn {
    border: 2px solid #fff;

    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #fff;
    transition: 0.4s;
}

.slides {
    display: flex;
    width: 400%;
    height: 100%;
}

.slide {
    width: 25%;
    transition: 0.5s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: #fff;
}



@media (max-width:749px) {
    .slider {
        width: 100%;
    }

    .sobre p {
        background-color: #fff;
        color: black;
        margin-left: 10px;
        border-radius: 10px 5px;
    }

    
}

@media (min-width:750px) {
    main {
        width: 50%;
        margin: auto;
    }
    .logo-texto {
        top: 0px;
        font-size: 0.9rem;
    }
    .logo {
        top: 33%;
        left: 43%;
        transform: translate(-55%, -10%);
    }


}




