#projetos {
    background-color: #000000;
}

.projetos {
    padding-top: 93px;
}

.projetos h2, .projetos a {
    text-align: center;
}

.projetos h2 {
    padding-bottom: 70px;
}

button {
    padding: 10px 100px;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    background-color: #3c0891;
    border: none;
    transition: ease-in-out 0.3s;
}

button:hover {
    background-color: #722fdf;
}

.github-link {
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 93px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.projetos a {
    display: inline;
}

.pro {
    background-color: #C4C4C4;
    height: 195px;
    width: 310px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    transition: ease-in-out 0.3s;
    z-index: 50;
    margin-bottom: 1rem;
    
}

.pro img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Faz a imagem preencher o container sem distorcer */
  object-position: center;
}

.breve {
    background-color: #3c0891;
    width: 50%;
    margin: auto;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.breve:hover {
    transform: scale(1.1); /* Faz o botão crescer 10% */
}

.pro div p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    color: #C4C4C4;
}

.pro:hover {
    letter-spacing: 5px;
}

.pro div {
    background-color: #3c0891;
    width: 1000px;
    text-align: center;
    padding: 5% 0;
    transform: rotate(-50deg);
    border-radius: 10px 5px;
}

.escondido {
    opacity: 0;
    display: none;
    transition: 1000ms;
}

.projetos-itens {
    display: flex;
    flex-wrap: wrap;
    gap: 29.5px;
    width: 100%;
    justify-content: center;
}

@media (max-width:1200px) {
  .projetos{
      text-align: center;
      display: flex;
      flex-direction: column;
  }

  #projetos {
      display: flex;
      justify-content: center;
  }

  .projetos-itens {
      flex-direction: column;
  }

}
@media (max-width:950px) {
    .pro {
        max-width: 300px;
    }

}