.buttons {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
}

.botao {
    cursor: pointer;
    width: 25%;
    border: 2px solid black;
    border-radius: 5px;
    font-size: clamp(6px, 5vw, 14px);
    background-color: rgb(189, 49, 49);
    box-shadow: -3px 3px 0 rgb(240, 90, 90), -5px 5px 0 rgb(112, 3, 3);
}

.butao:active {
    box-shadow:  inset -4px 4px 0 #222;
}

.buttons button a {
    text-decoration: none;
    color: #fff;
}

