body {
    background-color: black;
}

h1 {
    color: #fff;
}

div {
    text-align: center;
}

button {
    height: 2.5em;
    width: 5.5em;
    border: none;
    color: #fff;
}

button:hover {
    cursor: pointer;
}

.start-btn {
    background-color: green;
}

.pause-btn {
    background-color: gray;
}

.stop-btn {
    background-color: red;
}