body {
    background-color: black;
    
}

main {
    min-height: 500px
}

.container {
    text-align: center;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-top: 50px;
}

h1 {
    color: #fff;
}

h2 {
    color: #fff;
}

div {
    text-align: center;
}

footer {
    
    text-align: center;
}

button {
    height: 2.5em;
    width: 5.5em;
    border: none;
    color: #fff;
}

button:hover {
    cursor: pointer;
}

.start-btn {
    background-color: green;
}

.pause-btn {
    background-color: gray;
}

.stop-btn {
    background-color: red;
}